<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.count.mapper.ComputeMoneyMapper">

  <select id="queryPayList" resultType="org.jeecg.modules.count.bo.ComputePayBo">
    SELECT a.time_daily as 'regTime',
      SUM(a.count_user) as 'regCount',
      SUM(a.first_payuser) as 'firstPayUser',
      SUM(a.first_money) as 'firstPay'
    FROM ct_daily as a
      ${ew.customSqlSegment}
    GROUP BY regTime
  </select>
  <select id="selectPeriodUser" resultType="java.lang.Integer">
    SELECT COUNT(user_id) as 'periodUser'
    FROM(SELECT COUNT(user_id) as 'user_id'
         FROM ct_order
        ${ew.customSqlSegment} and DATE(create_time) = #{time,jdbcType=DATE}
         GROUP BY user_id ) as t
  </select>
  <select id="selectPeriodMoney" resultType="java.math.BigDecimal">
    SELECT SUM(money) as 'periodMoney' FROM ct_order  ${ew.customSqlSegment} and DATE(create_time) = #{time,jdbcType=DATE}
  </select>
</mapper>