<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.count.mapper.UserDataMapper">

  <select id="userOrderDistribution" resultType="org.jeecg.modules.count.vo.UserOrderDataVo">
    select sum(co.money) as money
    from `open_countly`.ct_order as co ${ew.customSqlSegment}
  </select>

  <select id="getUserAccumulateLevel" resultType="org.jeecg.modules.count.vo.UserAccumulateLevelVo">
    select sum(co.role_level) as roleLevel,
    sum(co.online_time) as onlineTime
    from `open_countly`.ct_order as co ${ew.customSqlSegment}
  </select>

  <select id="selectPayUserOne" resultType="String">
    select count(distinct co.user_id) as count
    from `open_countly`.ct_order as co
    <if test="ew.emptyOfWhere">
      where DATE(co.user_create_time)=DATE(co.create_time)
    </if>
    <if test="ew.emptyOfWhere==false">
      ${ew.customSqlSegment} and DATE(co.user_create_time)=DATE(co.create_time)
    </if>
  </select>

  <select id="selectTwoPayUserOne" resultType="String">
    select count(*) as count from
    (select co.user_id from `open_countly`.ct_order as co
    <if test="ew.emptyOfWhere">
     where DATE(co.user_create_time)=DATE(co.create_time)
    </if>
    <if test="ew.emptyOfWhere==false">
      ${ew.customSqlSegment} and DATE(co.user_create_time)=DATE(co.create_time)
    </if>
    group by co.user_id
    having count(co.user_id)>1 ) as t
  </select>

  <select id="selectPayUserTwo" resultType="String">
    select count(distinct co.user_id) as count
    from `open_countly`.ct_order as co
    <if test="ew.emptyOfWhere">
      where DATE_ADD(co.user_create_time,interval 1 day)=DATE(co.create_time)
    </if>
    <if test="ew.emptyOfWhere==false">
      ${ew.customSqlSegment} and DATE_ADD(co.user_create_time,interval 1 day)=DATE(co.create_time)
    </if>
  </select>

  <select id="selectTwoPayUserTwo" resultType="String">
    select count(*) as count from
    (select co.user_id from `open_countly`.ct_order as co
    <if test="ew.emptyOfWhere">
      where DATE_ADD(co.user_create_time,interval 1 day)=DATE(co.create_time)
    </if>
    <if test="ew.emptyOfWhere==false">
      ${ew.customSqlSegment} and DATE_ADD(co.user_create_time,interval 1 day)=DATE(co.create_time)
    </if>
    group by co.user_id
    having count(co.user_id)>1 ) as t
  </select>

  <select id="selectPayUserThird" resultType="String">
    select count(distinct co.user_id) as count
    from `open_countly`.ct_order as co
    <if test="ew.emptyOfWhere">
      where DATE_ADD(co.user_create_time,interval 2 day)=DATE(co.create_time)
    </if>
    <if test="ew.emptyOfWhere==false">
      ${ew.customSqlSegment} and DATE_ADD(co.user_create_time,interval 2 day)=DATE(co.create_time)
    </if>
  </select>

  <select id="selectTwoPayUserThird" resultType="String">
    select count(*) as count from
    (select co.user_id from `open_countly`.ct_order as co
    <if test="ew.emptyOfWhere">
      where DATE_ADD(co.user_create_time,interval 2 day)=DATE(co.create_time)
    </if>
    <if test="ew.emptyOfWhere==false">
      ${ew.customSqlSegment} and DATE_ADD(co.user_create_time,interval 2 day)=DATE(co.create_time)
    </if>
    group by co.user_id
    having count(co.user_id)>1 ) as t
  </select>

  <select id="selectPayUserFour" resultType="String">
    select count(distinct co.user_id) as count
    from `open_countly`.ct_order as co
    <if test="ew.emptyOfWhere">
      where DATE_ADD(co.user_create_time,interval 3 day)=DATE(co.create_time)
    </if>
    <if test="ew.emptyOfWhere==false">
      ${ew.customSqlSegment} and DATE_ADD(co.user_create_time,interval 3 day)=DATE(co.create_time)
    </if>
  </select>

  <select id="selectTwoPayUserFour" resultType="String">
    select count(*) as count from
    (select co.user_id from `open_countly`.ct_order as co
    <if test="ew.emptyOfWhere">
      where DATE_ADD(co.user_create_time,interval 3 day)=DATE(co.create_time)
    </if>
    <if test="ew.emptyOfWhere==false">
      ${ew.customSqlSegment} and DATE_ADD(co.user_create_time,interval 3 day)=DATE(co.create_time)
    </if>
    group by co.user_id
    having count(co.user_id)>1 ) as t
  </select>

  <select id="selectPayUserFive" resultType="String">
    select count(distinct co.user_id) as count
    from `open_countly`.ct_order as co
    <if test="ew.emptyOfWhere">
      where DATE_ADD(co.user_create_time,interval 4 day)=DATE(co.create_time)
    </if>
    <if test="ew.emptyOfWhere==false">
      ${ew.customSqlSegment} and DATE_ADD(co.user_create_time,interval 4 day)=DATE(co.create_time)
    </if>
  </select>

  <select id="selectTwoPayUserFive" resultType="String">
    select count(*) as count from
    (select co.user_id from `open_countly`.ct_order as co
    <if test="ew.emptyOfWhere">
      where DATE_ADD(co.user_create_time,interval 4 day)=DATE(co.create_time)
    </if>
    <if test="ew.emptyOfWhere==false">
      ${ew.customSqlSegment} and DATE_ADD(co.user_create_time,interval 4 day)=DATE(co.create_time)
    </if>
    group by co.user_id
    having count(co.user_id)>1 ) as t
  </select>

  <select id="selectPayUserSix" resultType="String">
    select count(distinct co.user_id) as count
    from `open_countly`.ct_order as co
    <if test="ew.emptyOfWhere">
      where DATE_ADD(co.user_create_time,interval 5 day)=DATE(co.create_time)
    </if>
    <if test="ew.emptyOfWhere==false">
      ${ew.customSqlSegment} and DATE_ADD(co.user_create_time,interval 5 day)=DATE(co.create_time)
    </if>
  </select>

  <select id="selectTwoPayUserSix" resultType="String">
    select count(*) as count from
    (select co.user_id from `open_countly`.ct_order as co
    <if test="ew.emptyOfWhere">
      where DATE_ADD(co.user_create_time,interval 5 day)=DATE(co.create_time)
    </if>
    <if test="ew.emptyOfWhere==false">
      ${ew.customSqlSegment} and DATE_ADD(co.user_create_time,interval 5 day)=DATE(co.create_time)
    </if>
    group by co.user_id
    having count(co.user_id)>1 ) as t
  </select>

  <select id="selectPayUserSeven" resultType="String">
    select count(distinct co.user_id) as count
    from `open_countly`.ct_order as co
    <if test="ew.emptyOfWhere">
      where DATE_ADD(co.user_create_time,interval 6 day)=DATE(co.create_time)
    </if>
    <if test="ew.emptyOfWhere==false">
      ${ew.customSqlSegment} and DATE_ADD(co.user_create_time,interval 6 day)=DATE(co.create_time)
    </if>
  </select>

  <select id="selectTwoPayUserSeven" resultType="String">
    select count(*) as count from
    (select co.user_id from `open_countly`.ct_order as co
    <if test="ew.emptyOfWhere">
      where DATE_ADD(co.user_create_time,interval 6 day)=DATE(co.create_time)
    </if>
    <if test="ew.emptyOfWhere==false">
      ${ew.customSqlSegment} and DATE_ADD(co.user_create_time,interval 6 day)=DATE(co.create_time)
    </if>
    group by co.user_id
    having count(co.user_id)>1 ) as t
  </select>

  <select id="getPayUserStruct" resultType="org.jeecg.modules.count.vo.PayUserStructDataVo">
    select DATE_FORMAT(co.user_create_time,'%Y-%m-%d') as userCreateTime,
    sum(co.money) as money
    from `open_countly`.ct_order as co ${ew.customSqlSegment}
  </select>
</mapper>