<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.advert.mapper.OpKuaishouDealPlanMapper">

  <select id="dealPlanInfoPage"
    resultType="org.jeecg.modules.advert.vo.OpKuaishouDealPlanVo">
    select d.id,
           deal_name,
           d.game_id,
           d.sub_game_id,
           d.sub_game_type,
           d.pkg_id,
           d.account_id,
           d.channel_sub_account_id,
           deal_args,
           deal_desc,
           d.pkg_url,
           d.pack_state,
           d.create_by,
           d.create_time,
           d.update_by,
           d.update_time,
           og.game_name,
           osg.game_name         'sub_game_name',
           opkg.nick_name        'pkg_name',
           opa.nick_name         'account_name',
           ocsa.sub_account_name 'channel_sub_account_name',
           okdp.campaign_id,
           okdp.budget_mode,
           okdp.budget
    from op_kuaishou_deal_plan okdp
           left join op_deal d on okdp.deal_id = d.id
           left join op_game og on d.game_id = og.id
           left join op_sub_game osg on d.sub_game_id = osg.id
           left join op_pkg opkg on d.pkg_id = opkg.id
           left join op_put_account opa on d.account_id = opa.id
           left join op_channel_sub_account ocsa on d.channel_sub_account_id = ocsa.id
      ${ew.customSqlSegment}
  </select>
</mapper>
